h1,
h2, 
h3 {
    color: rgb(102, 22, 22);
    text-transform: uppercase;
    text-align: center;
}

body {
    background-color: rgba(80, 156, 191, 0.754);
    color:rgb(102, 22, 22);
}

div.ingredients,
div.list-of-recipes {
    list-style-position: inside;
    text-align: center;
}

div.image {
    display: flex;
    justify-content: center;
}

