h1,
h2, 
h3 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    width: 400px;
    margin: auto;
    background: black;
}

body {
    background-color: #32746D;
    color:#fff; 
    margin: 50px;
    text-align: justify;
}

div.ingredients {
    list-style-position: inside;
    text-align: left;
    background-color: black;
}


div.image {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.title {
    font-size: 50px;
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-list {
    font-size: 30px;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.recipe-list li {
    margin-bottom: 20px;
    font-family: serif;
    display: flex;
    justify-content: center;
}

a {
    background: black;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 8px 8px;
    padding: 0 1em 0 1em;
}

.footer-return__button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}